---
import Layout from '../layouts/Layout.astro';
import ContentBox from '../components/ContentBox.astro'
import NavBar from '../components/NavBar.astro';
import WelcomeBanner from '../components/WelcomeBanner.astro';
import SectionBanner from '../components/SectionBanner.astro';
---

<Layout title="Welcome to Astro.">
	<WelcomeBanner/>
	<div class="h-[5000px]"> <!-- TODO change height when done -->
		<main class="p-0 text-white sticky top-0 h-svh">
			<NavBar/>
			<div class="flex flex-row h-5/6">
				<SectionBanner>
						HELLO
					</SectionBanner>
				<ContentBox>
					hi
				</ContentBox>
			</div>
		</main>
	</div>
	</Layout>
