---
---
<div class="p-6 h-1/6 w-full ">
  <div class=" bg-rose-500 text-black h-full w-full rounded-lg p-2 flex flex-col justify-center">
    <div class="bg-white rounded-lg p-1 w-1/12 text-center">Main</div>
  </div>
</div>