---
---
<div class="p-6 pt-0 pr-0 w-1/6 h-full text-white">
  <div class=" bg-gray-700 h-full w-full rounded-lg p-2 [text-orientation:upright] [writing-mode:vertical-lr] text-7xl text-center justify-center items-center flex flex-col">
    <slot/>
  </div>
</div>